div.center {
	text-align: center;
}

.image-container {
    position: relative;
}

.brand {
    display: flex;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    /* border: 1px dotted #cdcdcd; */
}

.brand .brand-img {
    width: 100%;
    border-radius: 10%;
}
.brand .brand-wrapper {
    position: relative;
}
.brand .brand-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-image: radial-gradient(hsla(0,0%,100%,0) 40%, #EFEFEF);
    box-shadow: 0 0px 6px 4px #efefef inset,
        0 0px 12px 4px #efefef inset;
}
